* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
body {
    background: #FFFFFF;
    font-family: 'Gilroy';
    
}
.center {
    /*margin-left: 375px;
    margin-right: 375px;*/
    padding-left: 375px;
    padding-right: 375px;
}
.header {
    margin-top: 40px;
    margin-bottom: 96px;
    display: flex;
    gap:400px;
    justify-content: space-between;
}
.menu {
    font-size: 14px;
    line-height: 16px;
    display: flex;
    justify-content: space-between;
    gap: 35px;
    
}
.menu_current {
    color: #F25822;
}
.menu a {
    color: #000000;
    font-weight: 600;
    
}
.top__content {
    margin-top: 84px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 39px;
}
.top__content_text {
    width: 522px;
    
}
.top__content_battons {
    margin-top: 37px;
    display: flex;
    justify-content: flex-start;
    gap: 72px;
}

.button_start {
    background: #F25822;
    padding: 15px, 35px;
    box-shadow: 4px 4px 8px rgba(242, 88, 34, 0.2);
    border-radius: 50px;
    text-align: center;
    padding: 15px 35px;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
    border: 0;
    font-weight: 700;
    
}
.top__logos {
    margin-bottom: 96px;
    margin-top: 259px;
    display: flex;
    justify-content: flex-start;
    gap: 48px;
}
.heading_1 {
    font-size: 60px;
    line-height: 70px;
    color: #000000;
    margin-bottom: 17px;
    font-weight: 800;
    }

.paragraph {
    font-size: 20px;
    line-height: 23px;
    color: #888888;
    font-weight: 500;
    
}
.button_none-decoration {
    font-size: 15px;
    line-height: 18px;
    color: #AAAAAA;
    background: #ffffff;
    border: 0;
    border-radius: 50px;
    text-align: center;
    padding: 15px 35px;
    font-size: 15px;
    line-height: 18px;
    font-weight: 700;
}
.features {
    margin-top: 100px;
    margin-bottom: 100px;
    /*margin-left: calc(50% - 555px);*/
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 60px;
}

.features_container {
    padding-top: 40px;
    padding-left: 30px;
    padding-bottom: 25;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.features_heading {
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    margin-bottom: 17px;
}
.features_paragraph {
    font-size: 15px;
    line-height: 150%;
    color: #666666;
    margin-bottom: 25px;
}

.features_container a {
    font-size: 11px;
    line-height: 150%;
    color: #000000;
    font-weight: 700;
    margin-bottom: 25px;
}

.shadow {
    background: #FFFFFF;
    box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06); 
}

.heading_2 {
    font-size: 45px;
    line-height: 53px;
    color: #000000;
    font-weight: 700;
    text-align: center;
    margin-bottom: 19px;
}
.services_description {
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    font-weight: 400;
    color: #666666;
    margin-bottom: 55px;
    width: 682px;
        
}

.services_containers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 30px;
}


.services_container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: #FFFFFF;
    padding: 50px 30px;
    text-align: center;
}
.services_heading {
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    font-weight: 700;
    margin-bottom: 22px;
    margin-top: 25px;
}
.services_paragraph {
    font-size: 15px;
    line-height: 150%;
    color: #AAAAAA;
    font-weight: 400;
    margin-bottom: 39px;
}
.services_button {
    background: #F25822;
    box-shadow: 4px 4px 8px rgba(242, 88, 34, 0.2);
    border-radius: 50px;
    border: 0;
    padding: 15px 36px;
    font-size: 13px;
    line-height: 150%;
    color: #FFFFFF;
    font-weight: 700;
}
.orange {
    background: rgba(242, 88, 34, 0.25);
}
.green {
    background: rgba(20, 146, 17, 0.28);
}
.yellow {
    background: rgba(255, 205, 29, 0.24);
}
.icon {
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    margin-bottom: 25px;
}
.services {
    padding-top: 92px;
    padding-bottom: 100px;
    background: #FAFAFA; 
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}